/* CSS Document */
.wrapper { width:700px; }
.poll-wrapper {
	padding:10px 15px;
	background-color:#f1f1f1;
	border-left:2px solid #ccc;
	border-right:2px solid #ccc;	
}
.title-image {
	width:280px;
	height:200px;
	margin-left:20px;	
}
.align-center { text-align:center; }
.li-unstyled { color:#fff; }
.margin-top-20 { margin-top:20px; }
.margin-bottom-80 { margin-bottom:80px !important; }
.red {color: red !important; }